header{
    background-color: #5F7161;
    border-style: groove;
    text-decoration: none;
    display: grid;
    grid-template-columns: (3 1fr);
    grid-template-areas: 
    "tituloHeader navIndex navIndex ";
    .tituloContainer{
        .tituloHeader{
            grid-area: tituloHeader;
            margin-right: 100px;
            margin-left: 50px;
            a{
                color: black;
                text-decoration: none;
              
            }
        }
    }
    .navIndex{
        grid-area: navIndex;

        nav{
            ul{
                display: flex;
                justify-content: space-around;
                .navLi{
                    display: inline-block;
                    margin-left: 100px;
                    margin-top: 10px;
                    list-style-type: none;
                    a, a:visited, a:hover, a:active {
                        color: inherit;
                      }
                    
                }
            }
        } 
    }
} 



  


